#Getting Started with Python
##ML DAY-01
Python Basics, variables, Python operators, Control structures, Functions, Basic I/O, File operations


**Python Variables:** Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

**Getting type:** You can get the data type of a variable with the type() function.

**Single or Double Quotes?** String variables can be declared either by using single or double quotes.

**Case sensitive:** Case-Sensitive Variable names are case-sensitive.

In [ ]:
# 1. Variable Declaration (no need for explicit declaration)
name = "Alice"        # String variable
age = 25              # Integer variable
height = 5.6          # Float variable
is_student = True     # Boolean variable

# 2. Getting the type of variables
print(type(name))      # Output: <class 'str'>
print(type(age))       # Output: <class 'int'>
print(type(height))    # Output: <class 'float'>
print(type(is_student))# Output: <class 'bool'>

# 3. Single or Double Quotes for Strings
msg1 = 'Hello'
msg2 = "World"
print(msg1 + " " + msg2)  # Output: Hello World

# 4. Case-Sensitive Variables
Name = "Alice"
name = "Bob"
print(Name)   # Output: Alice
print(name)   # Output: Bob

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
Hello World
Alice
Bob

**Many Values to Multiple Variables:** Python allows you to assign values to multiple variables in one line

In [ ]:
x, y, z = 10, 20, 30
print(x)  # Output: 10
print(y)  # Output: 20
print(z)  # Output: 30

10
20
30

**One Value to Multiple Variables:** And you can assign the same value to multiple variables in one line

In [ ]:
a = b = c = 100
print(a)  # Output: 100
print(b)  # Output: 100
print(c)  # Output: 100

100
100
100

**Unpacking a collection:** When you have a list, python allows you to unpack that list in to the variables

In [ ]:
colors = ["red", "green", "blue"]
c1, c2, c3 = colors
print(c1)  # Output: red
print(c2)  # Output: green
print(c3)  # Output: blue

red
green
blue

**Python Casting:**

In [ ]:
a = "10"
b = "3.14"

# Convert string to int and float
int_a = int(a)       # 10
float_b = float(b)   # 3.14

# Convert int to float
x = 7
y = float(x)         # 7.0
print(y)
# Convert number to string
n = 100
text = str(n)        # "100"
print(text)

7.0
100

**Python Operators:**

Arithmetic Operators:

In [ ]:
a = 9
b = 2
print(a % b)
print(a // b)
print(a ** b)

1
4
81

Assignment Operators:

In [ ]:
x = 4
x += 3
x *= 2
print(x)

14

Comparision Operators:

In [ ]:
print(5 == 5)
print(3 != 4)
print(7 >= 10)

True
True
False

Logical Operators:

In [ ]:
a = 5
b = 2
print(a > 3 and b < 1)
print(a < 10 or b > 5)
print(not (a == 5))

False
True
False

**Control Structures:**

If-elif-else

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a and b are equal

**and** keyword

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

**or** keyword

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

**not** keyword

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In python we cannot do answer++ or answer--, so we need to do answer=answer+1, answer=answer-1

**Comparison Operators and Logical:**

In [ ]:
result= 5==5
print(result)
result = (2>10) and (10==10)
print(result)
result = not((2>10) and (10==10))
print(result)
isCitizen = False
age = 18
if (age>=18) or (isCitizen):
   print("allowed")

True
False
True
allowed

**For loops:**

**Loop over a range:**

In [ ]:
for i in range(3):
    print(i)

0
1
2

**Loop over a list:**

In [ ]:
subject=["maths","physics","chem"]
for i in subject:
    print(i)

print(subject[0])

maths
physics
chem
maths

**Loop over a dictionary:**

In [ ]:
person={"name":"Kinza", "age":"20"}
for key in person:
    print(key,person[key])
print("\n")

#Another way to loop over a dictionary
for key,value in person.items():
    print(key,value)
print("\n")

print(person["name"])

#value in keys can be overwritten
#It will only print the most recent one
person={"name":"Kinza", "age":"20","name":"Sheryan","age":"22"}
print("\n")
print(person["name"])
print(person["age"])

name Kinza
age 20


name Kinza
age 20


Kinza


Sheryan
22

**Nested Loops:**

In [ ]:
for i in range(2):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1

**While Loops:**

In [ ]:
count=0
while count<=5:
     count=count+1
     print(count)

1
2
3
4
5
6

**Functions:**

In [ ]:
def greet(name,age):
  print(f"Hello {name} ur age is: {age}")

greet("Kinza",20)

def add(num1,num2):
   print(f"The sum is: {num1+num2}")

add(2,3)

Hello Kinza ur age is: 20
The sum is: 5

In [ ]:

def average(numbers):
 return sum(numbers)/len(numbers)

nums = [1,2,3,4,5]
print(f"The average is: {average(nums)}")

The average is: 3.0

**Lambda Function in Python:**
A lambda function in Python is a small anonymous function (i.e., it doesn’t need a name). It's used for short, simple operations — often used as a one-liner function for quick tasks.

lambda arguments: expression

In [ ]:
add = lambda num1,num2: num1+num2
print(add(2,3))

square = lambda x: x*x
print(square(2))

#filter(function, iterable)
nums = [1, 2, 3, 4, 5]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)

5
4
[2, 4]

**Basic I/O:**

In [ ]:
name = input("What is your name: ")
age = input()
print(name)
print(age)
print(f"Hello {name}, ur age is: {age}")
print("welcome " + name + " your age is " + str(age))
print("welcome",name,"your age is",age)

What is your name: kinza
20
kinza
20
Hello kinza, ur age is: 20
welcome kinza your age is 20
welcome kinza your age is 20

**File Operations:**

**Writing:**

In [ ]:
with open("data.txt","w") as file:
  file.write("Hello, World!")

**Reading:**

In [ ]:
with open("data.txt","r") as file:
  print(file.read())

Hello, World!

**Reading line by line:**

In [ ]:
file = open("data.txt", "r")
for line in file:
     print(line.strip())
     #strip removes /n
file.close()

Hello, World!

**Appending:**

In [ ]:
with open("data.txt", "a") as file:
 file.write("\nline 2")

In [ ]:
file = open("data.txt", "r")
for line in file:
     print(line.strip())
     #strip removes /n
file.close()

Hello, World!
line 2

**TASK-01: Student Report Card Generator**

 • Take Input from the User (name and age)

 • Take Input For 3 Subjects in a dictionary

subject:marks
 (english, math, urdu)

• Define a Function to Calculate Average of all subjects together

• Grade Assignment using if/elif/else

 Average Score Grade

 80 or above A

 60 to 79 B

 40 to 59 C

 Below 40 F

 • Bonus give using lambda function (Ask the user: Add 5 bonus marks to all subjects? (yes/no))

 • Write the Report to a File

 Name: Ali

 Age: 20

 Math: 90

 English: 83

 Urdu: 95

 Average: 89.33

 Grade: A

 • Read and Display the Report Card

In [48]:
name = input("What's your name? ")
print(name)
age = input("What's your age? ")
print(age)

subjects = ["English", "Maths", "Urdu"]
marks = {}

for subject in subjects:
    marks[subject] = int(input(f"Enter marks for {subject}: "))

bonus_input = input("Do you want to add 5 bonus marks to each score? (yes/no): ").strip().lower()
add_bonus = lambda x: x + 5 if bonus_input == "yes" else x

for subject in subjects:
    marks[subject] = add_bonus(marks[subject])

def avg(scores):
    return sum(scores) / len(scores)

average = avg(list(marks.values()))
print(f"Average Marks: {average:.2f}")

if average >= 80:
    grade = "A"
elif 60 <= average <= 79:
    grade = "B"
elif 40 <= average <= 59:
    grade = "C"
else:
    grade = "F"

print(f"Grade: {grade}")
with open("studentreport.txt", "w") as file:
    file.write(f"Name: {name}\n")
    file.write(f"Age: {age}\n")
    for subject in subjects:
        file.write(f"{subject}: {marks[subject]}\n")
    file.write(f"Average: {average:.2f}\n")
    file.write(f"Grade: {grade}\n")

print("Student data has been written to 'studentreport.txt'.")

with open("studentreport.txt", "r") as file:
    print("\nGenerated Report Card:")
    print(file.read())

What's your name? Kinza
Kinza
What's your age? 20
20
Enter marks for English: 83
Enter marks for Maths: 90
Enter marks for Urdu: 95
Do you want to add 5 bonus marks to each score? (yes/no): yes
Average Marks: 94.33
Grade: A
Student data has been written to 'studentreport.txt'.

Generated Report Card:
Name: Kinza
Age: 20
English: 88
Maths: 95
Urdu: 100
Average: 94.33
Grade: A